<div class="border border-gray-700 text-white px-4 py-3 flex flex-col items-center justify-center gap-2 bg-[repeating-linear-gradient(135deg,var(--color-gray-500)_0px,var(--color-gray-500)_12px,var(--color-gray-600)_12px,var(--color-gray-600)_24px)]">
    <strong class="font-bold text-xl">Your account is currently deactivated.</strong>
    <p class="text-sm mt-2">You must wait for an administrator to activate your account before you will be able to access some functions.</p>
</div>